body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  nav {
    background-color: #444;
    padding: 0.8em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline; 
    padding: 12px;
  }
  
   li:active{
    background-color: #04AA6D!important;
    color: #ffffff !important;
  }

  .active{
    background-color: #04AA6D;
    color:#ffffff;
    margin-left: -23px;
    padding: 13px;
}

li:hover{
    background-color: #333;
}

  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  
  .content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
  }

.nextprev a {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.w3-left {
    float: left!important;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.nextprev a.w3-right, .nextprev a.w3-left {
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}
  
.w3-right {
    float: right!important;
}

.w3-info {
    background-color: #D9EEE1;
    border-left: none;
    padding: 32px;
    margin: 24px;
    margin-left: -32px;
    margin-right: -32px;
}

.intro {
    font-size: 16px;
}
.w3-panel {
    margin-top: 76px;
    margin-bottom: 16px;
}

.w3-btn {
    background-color: #04AA6D;
    color: white!important;
    border-radius: 5px;
}

.ws-black {
    padding: 14px;
    background-color: #282A35!important;
    color: white!important;
}

.ribbon-vidx {
    width: 50px;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    left: -20px;
    top: -15px;
    text-align: center;
    color: black;
    border-radius: 25px;
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.ws-yellow {
    background-color: #FFF4A3!important;
    color: black!important;
}

.w3-sidebar.w3-collapse {
    display: block!important;
    position: absolute;
}



  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  .w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #E7E9EB;
    z-index: 1;
    overflow: auto;
}

#sidenav h2 {
    font-size: 21px;
    padding-left: 16px;
    width: 204px;
    font-weight: 400;
}

#sidenav a.active1{
    background-color: #04AA6D!important;
    color: #ffffff!important;
}

#sidenav a {
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 2px 1px 1px 16px;
}

#sidenav a:active{
    background-color: #04AA6D!important;
    color: #ffffff!important;
}

h1{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 42px;
    font-weight: 400;
    margin: 10px 0;
}

.w3-example {
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
}
.w3-example {
    background-color: #E7E9EB;
    border-radius: 5px;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.w3-code, w3-codeline {
    font-size: 15px;
}
.w3-code {
    border-left: 4px solid #04AA6D;
}
.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.w3-code {
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
}
.w3-code, .w3-codespan {
    font-family: Consolas,Menlo,"courier new",monospace;
    font-size: 16px;
}

.intro {
    margin-top: 100px;
}